body {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    background-color: rgb(123, 123, 155);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    flex-direction: column;
}

.Header1 {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-bottom: 50px;
}

.Header2 {
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}